<%- include('../partials/header') %>

<h2 class="greetingText">Hello <%= data.username %></h2>

<p class="p1">Sorry for the delay, use this OTP to reset your account</p>
<h1 class="p1"><%= otp %></h1>

<%- include('../partials/footer') %>
